.size-picker {
  .sizes {
    display: flex;

    div {
      height: 30px;
      width: 30px;
      margin-right: 7px;
      padding: 5px;
      border: 2px solid #FFFFFF;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}